<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link rel="shortcut icon" href="#" />
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Delta Z</title>
	<link href="/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="a"><!--<img src="/images/rain3sm.jpg" />--></div>
<div class="b">
<div class="c">
<a href="/">
  <div class="logo">
    <img src="/images/dzlogo2.png" style="
        height: 24px;
    ">
      <p style="
      font-size: 16px;
      height: 1.1em;">
      V i o l e t &nbsp; I &nbsp; J o h n s o n<span></span></p>
  </div>
</a>
<div class="navbar">
<div class="navcontents">
<ul id="drop-nav">
  <a href="/cv"><li><div class="nav">CV</div></li></a>
  <a href="/research"><li><div class="nav">PUBLICATIONS</div></li></a>
  <a href="/music"><li><div class="nav">MUSIC</div></li></a>
  <a href="/ml/"><li><div class="nav">ML PROJECTS</div></li></a>
  <a href="/games"><li><div class="nav">GAME PROJECTS</div></li></a>
</ul>
</div>
</div>
</div>
<div class="flashcontainer">
<div class="fleft"></div>
<div class="fright"></div>
</div>
</div>
<div class="midcontain">
<div class="blackbox"></div>
<div class="d">
<div class="innerbox">

{{ content }}

<div class="push"></div>
</div>
</div>
</div>
<footer>
<div class="e">
<div class="flashcontainer">
<div class="fleft"></div>
<div class="fright"></div>
</div>
<p>Created by Violet Johnson 2024. All rights reserved.</br>
  <a href="mailto:violetijohnson89@gmail.com">Contact</a> - 
  <a href="https://github.com/deltaz0">Github</a> - 
  <a href="https://linkedin.com/in/violet-i-johnson">LinkedIn</a> - 
<a href="https://soundcloud.com/delta-z">Music</a>
</p></div>
</footer>
</body>
</html>
